<% include ./partials/header %>

<form action="/login" method="POST">
    <input type="text" placeholder="user name" name="username">
    <input type="password" placeholder="Password" name="password">
    <button type="submit">Login</button>
</form>

<% include ./partials/footer %>